
//$color_background: rgb(21, 26, 41);
$color_blue: rgb(40, 85, 170);
$color_light_blue: rgb(80, 130, 215);
$color_dark_blue: rgb(10, 70, 160);
$color_text: rgb(120, 165, 180);
$color_hightlight: rgb(5, 70, 180);
$color_green: rgb(0, 220, 0);
$color_black: rgb(30, 30, 30);

$fadeIn: fadeIn 0.15s ease-in-out forwards;